.search-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -40px;
  border-radius: 10px;
  #search {
    min-width: 1110px;
    padding: 2rem 1rem;
    @include boxShadow;
    border: transparent;
    font-family: "Spartan", sans-serif;
    font-size: 1rem;
    line-height: 2rem;
    &:focus {
      border: 3px solid $green;
      outline: none;
    }
  }
}
.main {
  padding: 2rem 0;
  .jobs-wrapper {
    max-width: 1110px;
    margin: 0 auto;
    .job-item {
      background-color: white;
      @include boxShadow;
      margin-bottom: 1.5rem;
      border-radius: 10px;
      &:first-of-type {
        display: none;
      }
      &.featured-item {
        border-left: 4px solid $green;
      }
      .inner {
        padding: 1.5rem 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .left-content {
          display: flex;
          justify-content: center;
          align-items: center;
          .logo-outer {
            border-radius: 50%;
            padding-right: 1rem;
          }
          .details {
            display: flex;
            flex-direction: column;
            .row {
              display: flex;
              padding-bottom: 1rem;
              align-items: center;
            }
            .row-one {
              p {
                font-size: 0.75rem;
                padding-right: 12px;
                text-transform: uppercase;
              }
              .company {
                color: $green;
                font-weight: 700;
                text-transform: capitalize;
              }
              .new {
                background-color: $green;
                margin-right: 0.5rem;
              }
              .new,
              .featured {
                color: white;
                border-radius: 10px;
                padding: 0.5rem 0.6rem;
              }
              .featured {
                background-color: black;
              }
            }
            .row-two {
              .job-title {
                font-weight: 700;
              }
            }
            .row-three {
              p {
                font-size: 0.75rem;
                color: $dark-grey;
              }
              .posted-at,
              .contract {
                padding-right: 1rem;
                &:after {
                  content: "\2022";
                  padding-left: 1rem;
                }
              }
            }
          }
        }
        .right-content {
          .languages-tools-wrapper {
            display: flex;
            .role-wrapper,
            .level-wrapper,
            .languages-wrapper,
            .tools-wrapper {
              display: flex;
            }
            .roles-background,
            .levels-background,
            .languages-background,
            .tools-background {
              background-color: $light-background;
              color: $green;
              margin-right: 0.6rem;
              padding: 0.4rem 0.6rem;
              font-size: 0.75rem;
              font-weight: 700;
              border-radius: 10px;
              box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 0.1),
                -4px 0 20px 0 rgba(0, 0, 0, 0.1);
            }
          }
        }
      }
    }
  }
}
